.messages {
  padding: 0 1rem;
  flex-grow: 1;
}

.messages > .messages__container {
  overflow: auto;
  height: 75vh;
}

.messages > .messages__container::-webkit-scrollbar {
  width: 6px;
  background-color: rgba(122, 114, 114, 0.132);
}

.messages > .messages__container::-webkit-scrollbar-thumb {
  background-color: rgb(41, 40, 39);
  border-radius: 5px;
}