.chat {
    display: flex;
    flex-direction: column;
    background-color: #363a3f;
    height: 100vh;
    flex: 1;
}
.chat__messAndMem {
    display: flex;
    flex: 1;
}
.chat__mess {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
}

